.mega-block {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.header {
    background: linear-gradient(to right, #6ad0ae, #9CDE7D);
    height: 50px;
    display: flex;
    align-items: center;
}


.login-form {
    background-color: #f7f7f7;
    padding: 20px;
    width: 404px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    color: #000;
    text-align: center;
    font-family: "Roboto Light", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.go_button {
    border: none;
    width: 188px;
    margin-left: 28%;
    height: 58px;
    flex-shrink: 0;
    margin-right: 15%;
    background-color: #9CDE7D;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: black;
    font-family: "Roboto Light", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 15px;
    margin-top: 5%;
}
label {
    color: #000;
    font-family: "Roboto Light", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}
.input-nero {
    border-radius: 7px;
    width: 90%;
    height: 30px;
    margin-top: 1%;
    margin-bottom: 3%;
    margin-left: 4%;
    border: none;
    padding-left: 2%;
}

.red {
    background-color: red;
}

.vid {
    display: flex;
    font-family: "Roboto Light", sans-serif;


}

.blue {
    background-color:blue;
}

.green {
    background-color: green;
}

.half {
    flex: 1;
    text-decoration: none;
}

.text-right {
    margin-top: 3%;
    text-align: right;
    margin-right: 5%;
    text-decoration: none;

}


.text-left {
    margin-top: 3%;
    text-align: left;
    margin-left: 5%;
    text-decoration: none;

}



footer {
    padding: 10px;
    background: linear-gradient(to right, #6ad0ae, #9CDE7D);
    height: 50px;
    margin-top: auto; /* Это важно: оно прижимает футер к низу контейнера */
    color: whitesmoke;
    font-family: "Roboto Light", sans-serif;
    text-align: center;
    font-size: 16px;
    /*position: fixed;*/
    /*bottom: 0;*/
    width: 100%;
}
